
// Color Variables

$navyBlue: #25274D;
$lightNavy: #464866;
$blueGrey: #AAABB8;
$cyanBlue: #2E9CCA;
$blueGreen: #29648A;

//Font Size
$bannerHeading: 48px;
$titleFont: 48px;
$buttonsFont: 24px;
$bodyFont: 16px;

.row{
  font-family: 'Lato', sans-serif;
}
body, html {
  height: 125%;
  margin: 0;
  background-color: $blueGrey;
  padding-bottom: 0;  
}

// Navigation Bar

.navbar{
    width: 100%;
    margin:0;
    background: $navyBlue;
    padding: 5px;
    border-radius: 0px;
}
.navbar a {
    color: $blueGrey;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    padding:  14px 16px 14px;
    position: relative;
    text-align: center;
    float: right;
    &:hover {
      background: lighten( $navyBlue, 7);
    }
}
#logo{
font-size: 32px;
font-family: "Futura";
color:$blueGrey;
line-height: 1.016;
position: absolute;
left: 20px;
top: 10px;
}

// HERO

#hero-image {
  padding: 40px;
  height: 50vh;
  width:100%;
  background-image: url("Banner1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 display: flex; justify-content: center;
}

.container-fluid {
  margin: 0;
  padding: 0;
}


.wrapper{
  background-color: $navyBlue;
  height: 50vh;
}

.wrapper-container{
  background-color: $navyBlue;
  height: 50%;
  width: 50%;
  margin-top: 15%;
  margin-bottom: 15%;
  margin-left: 25%;
 padding: 20px;
  text-align: center;
}

.box{
  margin-top: 25%;
  margin-bottom: 25%;
  margin-left: 35%;
}

h1{
  color: white;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: $bannerHeading; 
}
.title{
  text-align: center;
  .button1{
    font-family: 'Lato', sans-serif;
    background-color: $cyanBlue;
    color: white;
    font-size: 16px;
    padding: 12px 28px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
      &:hover {
        background: lighten( $cyanBlue, 7);
      }
      
  }
}

h2{
  color: white;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 24px; 
}

h3{
  
  font-size: 32px;
}

.button2{
  font-family: 'Lato', sans-serif;
  background-color: $cyanBlue;
  color: white;
  font-size: 16px;
  padding: 12px 28px;
  border-radius: 4px;
 
    &:hover {
      background: lighten( $cyanBlue, 7);
    }
    
}

#services{
    color:$navyBlue;
    font-size: 32px;
    text-align: center;
}

//Footer

footer {
   bottom:0;
   left: 0;
   right: 0;
   position: fixed;
   width:100%;
  background-color: #2a2a2a;
  padding: 10px;
  text-align: center;
  color: white;
}
 

 .button6 {
  font-family: 'Lato', sans-serif;
  background-color: #2a2a2a;
  color: white;
  font-size: 10px;
  padding: 10px 28px;
  border: none;
 
  &:hover {
    background: lighten( #2a2a2a, 7);
  }
 }
 